---
import SiderBar from "../components/SiderBar.astro";
---

<body>
  <SiderBar />
  博文
  <a href="/posts/post-1">post-1</a>
  <a href="/posts/post-2">post-2</a>
  <a href="/posts/post-3">post-3</a>
</body>
